.App {
  font-size: 2vw;
  text-align: center;
  font-family: graham;
  border: 2vw whitesmoke solid;
  padding-bottom: 70vh;
  border-bottom: 10vh whitesmoke solid;
}
.logo{
  height: 10vw;
  cursor: pointer;
}
.cv-frame{
  margin-top: 5%;
}
iframe{ 
  margin-top: 2%;
  padding: 1vw;
  width: 80%;
  height: 70vw;
  border: rgba(0,0,0,0.5) 0.5vw solid;
}
.piano{
  height: 45vw;
}
.honda{
  height: 37vw;
  overflow: hidden;
}
.ctt-frame{
  height: 50vw;
}
.blank-line{
  height: 4vw;
  background-color: whitesmoke;
}
.blank-line, .contact-holder {
  margin-left: 5%;
  width: 90%;
}
.navbar{
  border-bottom: 7vw whitesmoke solid;
}
.link{
  cursor: pointer;
  width: 4vw;
  height: 4vw;
}
.contact-holder{
  padding-top: 2vw;
  text-align: right;
  background-color: steelblue;
}
.contact-holder h1{
  margin-right: 30%;
  display: inline;

}
.contact-holder a, h1{
  color: #FFFFFF;
  text-decoration: none;
}
.contact-holder h1:hover {
  color: coral;
}
.contact-holder:hover{
  background-color: steelblue;
}


h1:hover{
  cursor: pointer;
}
.download-link{
  font-size: 3vw;
}
.App-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 6.5vw;
  height: 100vmin;
  pointer-events: none;
}
.logo-holder {
  border: whitesmoke solid 5vw ;
  background-color:steelblue;
  font-family: graham;
  font-size: 2vw;
}
.logo-holder h1{
  font-size: 5vw;
}
.container {
  height: 10vw;
  width: 100%;
  background-color: whitesmoke;
}
.container a {
  position: relative;
  z-index: 100;
  background-color: steelblue;
  padding: 2vw;
  padding-left: 5vw ;
  padding-right: 5vw ;
  border: 0.5vw white solid;
  font-family: graham;
  font-size: 5vw;
  display: inline;
  color: whitesmoke;
  margin-left: 7.5vw;
  margin-right: 3vw;
}
.container a:hover {
  color: coral;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}
@font-face{
  src: url(fonts/built\ titling\ rg.ttf);
  font-family: 'graham';
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
