.App {
  font-size: 2vw;
  text-align: center;
  font-family: graham;
  border: 2vw whitesmoke solid;
  padding-bottom: 70vh;
  border-bottom: 10vh whitesmoke solid;
}
.App a{
  text-decoration: none;
  cursor: pointer;
}
.bottom-bar a:hover{
  color: white;
}
.logo{
  height: 10vw;
  cursor: pointer;
}
.cv-frame{
  margin-top: 5%;
  width: 90%;
}
iframe{ 
  margin-top: 2%;
  padding: 1vw;
  width: 50%;
  height: 70vw;
  border: rgba(0,0,0,0.5) 0.5vw solid;
}
.piano {
  height: 15vw;

}
.mission-ctrl {
  width: 60%;
  height: 35vw;
}
.honda{
  height: 12.5vw;
  overflow: hidden;
}
.ctt-frame {
  height: 17vw;
  width: 60%;
}
.blank-line {
  height: 4vw;
  background-color: whitesmoke;
}
.blank-line, .contact-holder {
  margin-left: 5%;
  width: 90%;
}
.navbar {
  border-bottom: 7vw whitesmoke solid;
}
#contact {
  margin-right: 10%;

}
.link{
  cursor: pointer;
  width: 4vw;
  height: 4vw;
}
.contact-holder{
  height:20vh;
  padding-top: 2vw;
  text-align: right;
  background-color: steelblue;
}
.contact-holder h1{
  margin-right: 30%;
  display: inline;
}
.contact-holder a, h1{
  font-size: 10vw;
  color: #FFFFFF;
  text-decoration: none;
}
.contact-holder h1:hover {
  color: coral;
}
.contact-holder:hover{
  background-color: steelblue;
}


h1:hover{
  cursor: pointer;
}
.download-link{
  font-size: 3vw;
}
.App-logo {
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 6.5vw;
  height: 70vw;
  pointer-events: none;
}
.logo-holder {
  border: whitesmoke solid 5vw ;
  background-color:steelblue;
  font-family: graham;
  font-size: 2vw;
}
.logo-holder h1{
  font-size: 5vw;
}
.container {
  height: 10vw;
  width: 99.9%;
  background-color: whitesmoke;
}
.container a {
  position: relative;
  z-index: 100;
  background-color: steelblue;
  padding: 2vw;
  padding-left: 5vw ;
  padding-right: 5vw ;
  border: 0.5vw rgba(250, 250, 250, 1) solid;
  font-family: graham;
  font-size: 5vw;
  display: inline;
  color: whitesmoke;
  margin-left: 7.5vw;
}
.container a:hover {
  border: 0.5vw rgba(250, 250, 250, 0.5) solid;
  color: coral;
  cursor: pointer;
}
#cv-button, #downloadCvButton {
  cursor: pointer;
  position: relative;
  z-index: 100;
  background-color: coral;
  padding: 2vw;
  padding-left: 5vw ;
  padding-right: 5vw ;
  border: 0.5vw rgba(250, 250, 250,1) solid;
  font-family: graham;
  font-size: 3vw;
  display: inline;
  color: whitesmoke;
  margin-left: 7.5vw;
  margin-right: 3vw;
}
#cv-button:hover, #downloadCvButton:hover{
  border: 0.5vw rgba(250, 250, 250,0.5) solid;
  animation-name: bouncing;
  animation-duration: 1s;
}
.project-holder, .mission-holder {
  margin-bottom: 8vw;
  border: 1vw solid white;
  display: inline-block;
  width: 45%;
  height: 45%;
}
.bottom-bar{
  font-size: 5vh;
  border-radius: 5vw;
  width: 80%;
  height: 20vh;
  margin-left: 10%;
  background-color: rgba(86, 101, 115, 0.5);
  position: fixed;
  z-index: 50;
  bottom: 5%;
}
.project-image {
  width: 35vw;
  padding-bottom: 5vw;
}
.bottom-bar button{
  display: inline-block;
  width: 8vh;
  height: 5vh;;
  cursor: pointer;
  font-family: graham;
  font-size: 3.5vh;
}
.bottom-bar p, .bottom-bar a{
  font-size: 8vh;
  display: inline-block;


}
.close{
  position: absolute;
  top: 2.5%;
  right: 5%;
}
.tagline {
  font-size: 6vh;
  color: coral;
} 
.mission-holder {
  width: 80%;
}
.project-holder p, .mission-holder p {
  font-size: 3.5vh;
}
.project-holder a, .mission-holder a{
  color: blue;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@font-face{
  src: url(fonts/built\ titling\ rg.ttf);
  font-family: 'graham';
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
